<div class="container">
    <hr>
    <footer class="mb-5 mt-5">
        <div class="d-flex justify-content-center">
            <p class="text-muted">気になる映画を探そう</p>
        </div>

        <ul class="list-unstyled d-flex justify-content-center">
            <li class="ml-3 mr-3">
                <%= link_to 'https://www.netflix.com/jp/', class: 'text-muted', style: 'text-decoration: none;' do %>
                    <%= icon('fas', 'film') %> Netflex
                <% end %>
            </li>
            <li class="ml-3 mr-3">
                <%= link_to "https://www.amazon.co.jp/Amazon-Video/b/?ie=UTF8&node=2351649051&ref_=nav_cs_prime_video", class: 'text-muted', style: 'text-decoration: none;' do %>
                    <%= icon('fab', 'amazon') %> Amazon Prime Video
                <% end %>
            </li>
            <li class="ml-3 mr-3">
                <%= link_to 'https://www.hulu.jp/static/3_7/?cmp=10011&waad=niD5Nih9&gclid=Cj0KCQjw2or8BRCNARIsAC_ppybajmVlqqheTvd59MHUh8TdZehH2-znB_9s5C2uHGXeWsL2ltUzpDsaAqAOEALw_wcB', class: 'text-muted', style: 'text-decoration: none;' do %>
                    <i class="fas fa-h-square"></i> hulu
                <% end %>
            </li>
            <li class="ml-3 mr-3">
                <%= link_to 'https://www.youtube.com/', class: 'text-muted', style: 'text-decoration: none;' do %>
                    <i class="fab fa-youtube"></i> Youtube
                <% end %>
            </li>
        </ul>
    </footer>
</div>