<%= provide(:title, '映画一覧') %>

<div class="bg-light mb-4 rounded" style="width: 100%;">
    <% if @movies != [] %>
        
        <div class="d-flex flex-wrap justify-content-around">
            <% @movies.each do |movie| %>
                <div class="card mt-4 mb-4" style="width: 18rem; min-height: 619px;">
                    <% if movie.image? %>
                        <%= image_tag movie.image.url, style: 'height: 400px;' %>
                    <% else %>
                        <%= image_tag 'no_image.png', style: 'height: 400px;' %>
                    <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.title %></h5>
                        <p class="card-text"><%= text_num_over(movie.story) %></p>
                    </div>
                    <%= link_to '詳しく見る', movie_url(movie), class: "m-3 btn btn-primary" %>
                </div>
            <% end %>
        </div>
        
    <% end %>
</div>

<%= paginate @movies %>