<%= provide(:title, @movie.title) %>
<% if @movie.image? %>
    <%= image_tag @movie.image.url, style: 'height: 400px;' %>
<% end %>
<div class="card-body">
    <h5 class="card-title"><%= @movie.title %></h5>
    <p class="card-text"><%= @movie.story %></p>
</div>

<%= "この映画の投票数と、コメント" %>
<hr />

<p>この映画への投票数は、
<%= @movie.points != nil ? @movie.points : 0%> / <%= @all_vote_num %>票</p>


<div class="bg-light mb-4 rounded p-3" style="width: 100%;">
    <h3>この映画についたコメント</h3>
    <% if @votes != [] %>
        <div class="d-flex flex-wrap">
            <% @votes.each do |vote| %>
                <% if vote.comment != "" %>
                    <div class="card mt-4 mb-4 mr-3" style="width: 18rem;">
                        <%= vote.comment %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
