<%= provide(:title, @movie.title) %>
<% if @movie.image? %>
    <%= image_tag @movie.image.url, style: 'height: 600px;', class: "rounded-lg img-thumbnail mx-auto d-block" %>
<% else %>
    <%= image_tag 'no_image.png', style: 'height: 600px; width: 400px;', class: "rounded-lg img-thumbnail mx-auto d-block" %>
<% end %>
<div class="card-body">
    <div class="border border-dark rounded p-4 mr-2 text-center text-muted mb-3">
        <h4><i class="fas fa-hand-point-down mr-1"></i> title</h4>
        <%= @movie.title %>
    </div>

    <div class="border border-dark rounded p-4 mr-2 text-center text-muted mt-3">
        <h4><i class="fas fa-hand-point-down mr-1"></i> story</h4>
        <%= @movie.story %>
    </div>
</div>


<% if current_user && current_user.email == "msy780022@gmail.com" %>
    <%= link_to '映画を削除する', movie_path(@movie), method: :delete, class: 'btn btn-danger' %>
<% end %>

<hr />
<p>この映画への投票数は、
<%= @movie.points != nil ? @movie.points : 0%> / <%= @all_vote_num %>票</p>


<div class="bg-light mb-4 rounded p-3" style="width: 100%;">
    <h3>この映画についたコメント</h3>
    <% if @votes != [] %>
        <div class="d-flex flex-wrap">
            <% @votes.each do |vote| %>
                <% if vote.comment != "" %>
                    <div class="card mt-4 mb-4 mr-3" style="width: 18rem;">
                        <%= vote.comment %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
