<%# titleタグの設定 %>
<%= provide(:title, "新規登録") %>


<%# エラーが発生した際に表示する %>
<% if @user.errors.any? %>
    <div class="error rounded pt-2 pb-1" style="background: rgba(255, 0, 0, 0.1);">
        <%= content_tag :p, '以下のメッセージに沿って入力しなおしてください', class: 'text-danger ml-2' %>
        <%= content_tag :ul do %>
            <% @user.errors.full_messages.each do |message| %>
                <%= content_tag :li, message, class: 'text-danger' %>
            <% end %>
        <% end %>
    </div>
<% end %>

<div class="form bg-light p-5 mt-1">
    <%= form_with scope: :user, url: signup_path, local: true do |f| %>

        <div class="form-group">
            <%= f.label :name do %>
                名前 <%= content_tag :span, '必須', class: 'bg-danger text-white rounded p-1 ml-1' %>
            <% end %>
            <%= f.text_field :name , class: 'form-control', placeholder: '例：山田太郎' %>
        </div>

        <div class='form-group'>
            <%= f.label :email do %>
                メールアドレス <%= content_tag :span, '必須', class: 'bg-danger text-white rounded p-1 ml-1' %>
            <% end %>
            <%= f.text_field :email , class: 'form-control', placeholder: '例：yamadatarou@example.com' %>
        </div>

        <div class='form-group'>
            <%= f.label :password do %>
                パスワード <%= content_tag :span, '必須', class: 'bg-danger text-white rounded p-1 ml-1' %>
            <% end %>
            <%= f.password_field :password , class: 'form-control', placeholder: '例：xyz0000' %>
        </div>

        <div class='form-group'>
            <%= f.label :password_confirmation do %>
                パスワードの確認 <%= content_tag :span, '必須', class: 'bg-danger text-white rounded p-1 ml-1' %>
            <% end %>
            <%= f.password_field :password_confirmation , class: 'form-control', placeholder: '例：xyz0000' %>
        </div>

        <%= f.submit '新規登録', class: "btn btn-primary" %>
    <% end %>
</div>